* {
  list-style-type: none;
}
a {
  color: ghostwhite;
}
a:hover {
  color: black;
  text-decoration: none;
}
.top {
  margin-top: 25vh;
}
@media screen and (max-width: 600px) {
  .top {
    margin-top: 10vh;
  }
}
