* {
  list-style-type: none;
}
a {
  color: ghostwhite;
}
a:hover {
  color: black;
  text-decoration: none;
}
.top {
  margin-top: 25vh;
}
#landing-page {
  background: url('../Assets/zen.jpeg') repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: static;
  top: 0;
  z-index: -1;
}
